@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #191a23;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-lime: #b9ff66;
  --color-brand-dark: #191a23;
  --color-brand-muted: #f3f3f3;
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-space-grotesk);

  --text-type-h1: 43px;
  --text-type-h1--line-height: normal;
  --text-type-h1--font-weight: 500;
  --text-type-h1-dsk: 60px;
  --text-type-h1-dsk--line-height: normal;
  --text-type-h1-dsk--font-weight: 500;

  --text-type-h2: 36px;
  --text-type-h2--line-height: normal;
  --text-type-h2-dsk: 40px;
  --text-type-h2-dsk--line-height: normal;

  --text-type-h3: 26px;
  --text-type-h3--line-height: normal;
  --text-type-h3-dsk: 30px;
  --text-type-h3-dsk--line-height: normal;

  --text-type-h4: 18px;
  --text-type-h4--line-height: normal;
  --text-type-h4-dsk: 20px;
  --text-type-h4-dsk--line-height: normal;

  --text-type-p: 16px;
  --text-type-p--line-height: 24px;
  --text-type-p--font-weight: 400;
  --text-type-p-dsk: 18px;
  --text-type-p-dsk--line-height: normal;
  --text-type-p-dsk--font-weight: 400;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}
